@inherits LayoutComponentBase
@implements IDisposable
@inject State _state

<PageTitle>Spreadsheet.Web.WebApp</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div id="saving-overlay" class="@(_state.Saving ? "" : "d-none")">
        <p>Saving...</p>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        _state.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
    }

}