@inherits LayoutComponentBase

@inject State _state
@implements IDisposable

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

    @if (_state.Saving)
    {
        <div id="saving-overlay">
            <p>Saving...</p>
        </div>
    }

</div>

@code {

    protected override void OnInitialized()
    {
        _state.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _state.OnChange -= StateHasChanged;
    }

}