<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/rhe89/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rhe89" />
            <add key="ClearTextPassword" value="7df1633727301ff801e522a8fcf614f5244a3a1c" />
        </github>
    </packageSourceCredentials>
</configuration>